.it-header-center-wrapper, .it-header-navbar-wrapper, .it-header-wrapper {
	background-color: #1b3e92;
}

a, a:hover, a.read-more, .menu-main .nav li ul a, .menu-main .nav li ul a:hover, .menu-main .nav li:hover ul a {
	color: #1b3e92;
}

button, input[type="submit"], .btn-primary {
	background-color: #1b3e92;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
	background-color: #1b3e92;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary {
	color: #1b3e92;
	box-shadow: inset 0 0 0 1px #1b3e92;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #1b3e92;
	box-shadow: inset 0 0 0 2px #1b3e92;
}

html, #footer, .it-footer-main {
	background-color: #282828;
}

#footer a {
	color: #debf3f;
}

span.data {
	font-weight: bold;
	color: #193883;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content {
	margin-top: 8px;
	padding: 0px;
	display: block;
}

.header-slim-img {
	position: unset;
}

.it-header-slim-wrapper {
	background: #193883;
}

.home-widget {
	display: none;
}

.panel-grid>div {
	padding: 0;
}

.it-header-slim-wrapper {
	height: 80px;
}

.it-header-slim-wrapper .header-slim-img {
	margin: 0.6rem;
	max-height: 2.5rem;
}

nav.menu-main {
	background-color: #193883;
}

ul#menu-social span {
	display: block !important;
}

ul#menu-social li {
	float: left;
}

ul.heateor_sss_sharing_ul li i {
	margin: 10px;
}

.menu-item i._before, .rtl .menu-item i._after {
	width: auto;
	height: auto;
	margin-top: -.265em;
	font-size: 1.3em;
	line-height: 1;
	margin-right: 0px
}

h2.subtitle {
	color: #585858;
	font-size: 1.5rem;
}

body {
	color: #191919;
}

h1.entry-title {
	color: #cc0000;
	padding-top: 20px
}

#cookie-notice {
	padding: 0px 30px;
}

.menu-main .nav .current-menu-item, .menu-main .nav .current-menu-ancestor {
	box-shadow: unset;
}

.textwidget ul li {
	list-style: disc;
	border-bottom: none;
	padding-bottom: 0px;
}

.textwidget ul li ul li {
	list-style: circle;
}

.textwidget ul {
	margin-left: 44px;
}

.textwidget ol {
	margin-left: 0;
}

.textwidget ol li {
	list-style: decimal;
	border-bottom: none;
	padding-bottom: 0px;
	padding-left: 5px;
}

.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
	margin-bottom: 10px;
}

.card .card-body .card-text {
	font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
	font-size: 1.2rem;
	line-height: unset;
}

.logo_header_img {
	height: 2.6rem;
	margin: 0px;
}

.box_loghi {
	padding-top: 0.45rem;
	width: 52rem;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone, .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone {
	padding-top: 0.8rem;
}

#container {
	padding-top: 223px;
}

@media only screen and (max-width: 2199px) {
	.entry-content img, .wp-post-image {
		max-width: 50%;
	}
	.entry-footer {
		display: none;
	}
	.breadcrumb {
		display: none;
	}
	.category-top strong {
		display: none !important;
	}
	.widget_category_mansory .card.card-bg {
		border: 1px solid #dadada;
	}
	.card .card-body .category-top .data:before {
		content: '' !important;
		display: unset !important;
		margin: 0px !important;
	}
	.card a.read-more {
		color: #fff !important;
		background-color: #1b3e92 !important;
		border-color: #1b3e92 !important;
		-webkit-box-shadow: inset 0 1px 0 rgb(255 255 255/ 15%), 0 1px 1px rgb(0 0 0/ 8%) !important;
		box-shadow: inset 0 1px 0 rgb(255 255 255/ 15%), 0 1px 1px rgb(0 0 0/ 8%) !important;
		padding: 7px 14px !important;
		text-transform: none !important;
		border-radius: 4px !important;
		text-decoration: none !important;
	}
	div#block-2 {
		display: none !important;
	}
	h1.entry-title {
		color: #1b3e92 !important;
		padding-top: 20px !important;
	}
	.menu-main .nav a {
		padding: 0 13px !important;
	}
	.entry-content [href$=".pdf"]:after, .entry-content [href$=".doc"]:after, .entry-content [href$=".docs"]:after, .entry-content [href$=".xls"]:after, .entry-content [href$=".xlsx"]:after, .entry-content [href$=".zip"]:after {
		display: none !important;
	}
}

@media only screen and (max-width: 1199px) {
	#container {
		padding-top: 223px;
	}
	.box_loghi {
		padding-top: 0.13rem;
		width: 39.8rem;
	}
	.logo_header_img {
		height: 2.3rem;
		margin: 0.4rem 0rem 0.4rem 0rem;
	}
}

@media only screen and (max-width: 991px) {
	#container {
		padding-top: 169px;
	}
	.logo_header_img {
		height: 1.6rem;
		margin: 0.2rem 0.2rem 0.2rem 0.6rem;
	}
	.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone, .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone {
		padding-top: 0rem;
	}
	.it-header-slim-wrapper .it-header-slim-wrapper-content {
		margin-top: 0px;
	}
	.box_loghi {
		width: 25.4rem;
		height: 1rem;
		padding-top: 0.75rem;
	}
}

@media only screen and (max-width: 767px) {
	#show-menu-main[type="checkbox"]:checked ~ .nav {
		background-color: #b3cbdd !important;
	}
	#container {
		padding-top: 113px;
	}
	.logo_header_img {
		height: 1.5rem;
		margin: 0.4rem 0.4rem 0.4rem 0.4rem;
	}
	.show-menu-lingua {
		width: 31px;
		margin-top: 0.3rem;
	}
	.box_loghi {
		height: 10rem;
		padding-top: 33px;
		margin-top: 0px;
		width: 23.4rem;
	}
	.it-header-slim-wrapper {
		height: 95px;
	}
	.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
		margin-left: 1rem;
	}
	ul#menu-lingua {
		width: 219px !important;
		top: -17px;
	}
	.show-menu-lingua {
		display: none;
	}
	ul#menu-lingua {
		opacity: unset;
		height: 40px;
		margin-top: 0px;
		position: absolute;
		right: 0;
		width: 146px;
	}
	ul#menu-lingua li {
		width: 73px;
	}
	.box_loghi {
		height: 0.4rem;
	}
}

@media only screen and (max-width: 439px) {
	#container {
		padding-top: 149px;
	}
	.box_loghi {
		width: 23.4rem;
	}
	.logo_header_img {
		height: 1.3rem;
		margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	}
}

.form-check [type=checkbox]:focus+label, .form-check [type=radio]:focus+label, .toggles label input[type=checkbox]:focus+.lever, :focus {
	border-color: unset;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.box-home {
	padding: 2rem;
}

#content {
	margin-top: 55px;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
	z-index: 999;
}

.text-primaryfile {
	color: #177300;
}

#show-menu-main[type="checkbox"]:checked ~ .nav {
	background-color: #bdddb3;
}

.entry-content [href$=".pdf"]::after, .entry-content [href$=".doc"]::after, .entry-content [href$=".docs"]::after, .entry-content [href$=".xls"]::after, .entry-content [href$=".xlsx"]::after, .entry-content [href$=".zip"]::after {
	content: unset;
}

.entry-footer {
	display: none;
}

ul.breadcrumb {
	display: none;
}

.card a.read-more {
	color: #fff !important;
	background-color: #1b3e92 !important;
	border-color: #1b3e92 !important;
	-webkit-box-shadow: inset 0 1px 0 rgb(255 255 255/ 15%), 0 1px 1px rgb(0 0 0/ 8%) !important;
	box-shadow: inset 0 1px 0 rgb(255 255 255/ 15%), 0 1px 1px rgb(0 0 0/ 8%) !important;
	padding: 7px 14px !important;
	text-transform: none !important;
	border-radius: 4px !important;
	text-decoration: none !important;
}

.widget_category_mansory .card.card-bg {
	border: 1px solid #dadada;
}

.card .card-body .category-top .data::before {
	content: "";
	display: inline;
	margin: 0px 2px;
}

.widget-area li, .widget li {
	border-bottom: unset;
}

div#block-2 {
	display: none;
}

.nav li a {
	font-size: 0.869em !important;
}

.breadcrumb {
	display: none;
}

.entry-footer {
	display: none !important;
}

#wpfront-scroll-top-container i {
	color: #3FC457;
}

#pgc-gb2003-6317cec0e4bcd-0-0 {
	width: 100%;
	width: calc(100% - ( 0 * 30px))
}

#pg-gb2003-6317cec0e4bcd-0, #pl-gb2003-6317cec0e4bcd .so-panel {
	margin-bottom: 30px
}

#pgc-gb2003-6317cec0e4bcd-1-0 {
	width: 75%;
	width: calc(75% - ( 0.25 * 30px))
}

#pgc-gb2003-6317cec0e4bcd-1-1 {
	width: 25%;
	width: calc(25% - ( 0.75 * 30px))
}

#pl-gb2003-6317cec0e4bcd .so-panel:last-of-type {
	margin-bottom: 0px
}

#pg-gb2003-6317cec0e4bcd-0>.panel-row-style {
	background-image: url("../img/bg_home.png");
	background-position: center center;
	background-size: cover
}

#pg-gb2003-6317cec0e4bcd-0.panel-has-style>.panel-row-style, #pg-gb2003-6317cec0e4bcd-0.panel-no-style, #pg-gb2003-6317cec0e4bcd-1.panel-has-style>.panel-row-style, #pg-gb2003-6317cec0e4bcd-1.panel-no-style {
	-webkit-align-items: flex-start;
	align-items: flex-start
}

@media ( max-width :780px) {
	#pg-gb2003-6317cec0e4bcd-0.panel-no-style, #pg-gb2003-6317cec0e4bcd-0.panel-has-style>.panel-row-style, #pg-gb2003-6317cec0e4bcd-0, #pg-gb2003-6317cec0e4bcd-1.panel-no-style, #pg-gb2003-6317cec0e4bcd-1.panel-has-style>.panel-row-style,
		#pg-gb2003-6317cec0e4bcd-1 {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	#pg-gb2003-6317cec0e4bcd-0>.panel-grid-cell, #pg-gb2003-6317cec0e4bcd-0>.panel-row-style>.panel-grid-cell, #pg-gb2003-6317cec0e4bcd-1>.panel-grid-cell, #pg-gb2003-6317cec0e4bcd-1>.panel-row-style>.panel-grid-cell {
		width: 100%;
		margin-right: 0
	}
	#pgc-gb2003-6317cec0e4bcd-1-0 {
		margin-bottom: 30px
	}
	#pl-gb2003-6317cec0e4bcd .panel-grid-cell {
		padding: 0
	}
	#pl-gb2003-6317cec0e4bcd .panel-grid .panel-grid-cell-empty {
		display: none
	}
	#pl-gb2003-6317cec0e4bcd .panel-grid .panel-grid-cell-mobile-last {
		margin-bottom: 0px
	}
	#pg-gb2003-6317cec0e4bcd-0>.panel-row-style {
		padding: 15px 15px 15px 15px
	}
}

.panel-grid.panel-has-style>.panel-row-style, .panel-grid.panel-no-style {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: nowrap;
	-ms-justify-content: space-between;
	justify-content: space-between
}

.panel-grid-cell {
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.panel-grid-cell .panel-cell-style {
	height: 100%
}

.panel-grid-cell .so-panel {
	zoom: 1
}

.panel-grid-cell .so-panel:before {
	content: "";
	display: block
}

.panel-grid-cell .so-panel:after {
	content: "";
	display: table;
	clear: both
}

.panel-grid-cell .panel-last-child {
	margin-bottom: 0
}

#wpfront-scroll-top-container {
	display: none;
	position: fixed;
	cursor: pointer;
	z-index: 9999
}